<!DOCTYPE html>
<html>
  <head>
    <title>澜图主页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <div class="body-main">
      <p><a href="http://119.45.200.52:9099/publish/2593a2c7924c4ccf83feb41ea5ef12ae" target="_blank">农商行劳动竞赛旬报</a></p>
    </div>
    <div class="body-main">
      <p><a href="http://119.45.200.52:9099/publish/2593a2c7924c4ccf83feb41ea5ef12ae" target="_blank">农商行存贷款日报</a></p>
    </div>
    <div class="body-main">
      <p><a href="http://119.45.200.52:9099/publish/2593a2c7924c4ccf83feb41ea5ef12ae" target="_blank">大屏3</a></p>
    </div>
    <div class="body-main">
      <p><a href="http://119.45.200.52:9099/publish/2593a2c7924c4ccf83feb41ea5ef12ae" target="_blank">大屏4</a></p>
    </div>
    
  </body> -->
  <body>
    <head>
      <div class="page-header container">
        <h1>海贼王</br><small>角色管理器</small></h1>

        <h2>注销</h2>
      </div>
    </head>
  </body>

</html> 
